:root {
  --thm-font: "Barlow", sans-serif;
  --thm-b-font: "Barlow", sans-serif;
  --thm-base: #2398f9;
  --thm-base-rgb: 35, 152, 249;
  --thm-gray: #f8f8f8;
  --thm-text: #838383;
  --thm-black: #1f1f1f;
}
